<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="home :: headMgmt">
</head>

<body>
	<script type="text/javascript" src="../js/src/jquery.js"></script>
	<script type="text/javascript" src="../js/src/main.js"></script>

	<section th:replace="home :: navBar">
	</section>
	<form class="center flex-column" action="/courseRegister/save" method="post" th:object="${course}">
		<div class="mt-4 form-outline mb-4 center flex-column">
			<input type="text" id="nome" name="nome" class="form-control" required />
			<label class="form-label" for="nome" name="nome">Curso</label>
		</div>
		<div class="center flex-row mt-4 mb-1">
			<select class="form-select" name="teacherId" id="teacherId" required>
				<option th:each="teacher : ${teachers}" th:value="${teacher.codigo}"
					th:text="${teacher.nome}">
				</option>
			</select>
		</div>
		<label class="form-label mb-4" for="Coordenador" name="Coordenador">Coordenador</label>
		<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	</form>
</body>

</html>