<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:fragment="headMgmt">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<title>Gestão de Projetos</title>
</head>

<body>
	<section th:fragment="navBar">
		<nav class="navbar navbar-expand-lg navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a href="/" class="nav-link">Inicio</a></li>
						<li class="nav-item"><a href="/signup" class="nav-link">Candidate-se</a></li>
						<li class="nav-item"><a href="/projects" class="nav-link">Projetos</a></li>
						<li class="nav-item"><a href="/members" class="nav-link">Membros</a></li>
						<li class="nav-item"><a href="/courseRegister" class="nav-link">Adicionar Curso</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</section>
	<div class="mt-4">
		<h1 class="d-flex justify-content-center"> Gestão dos Projetos de pesquisas da instituição </h1>
		<p class="d-flex justify-content-center"> Site desenvolvido para atividade da disciplina de web 4, destinado a
			gestão de projetos de pesquisa
			usando spring </p>
		<h4 class="mt-5 d-flex justify-content-center"> Ultimos projetos: </h4>
		<div class="mt-4 d-flex justify-content-center">
			<div th:each="lastProject : ${lastProjects}" class="card me-5 mt-1 min-w">
				<h6 class="card-header" th:text="${#temporals.format(lastProject.dataInicio, 'dd/MM/yyyy')}" />
				<div class="card-body">
					<h5 class="card-title nowrap ellipsis" th:attr="title=${lastProject.titulo}"
						th:text="${lastProject.titulo}" />
					<p class="card-text nowrap ellipsis" th:attr="title=${lastProject.resumo}"
						th:text="${lastProject.resumo}" />
					<a th:href="@{/project(codigo=${lastProject.codigo})}" class="btn btn-primary">Mais detalhes</a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/src/jquery.js"></script>
		<script type="text/javascript" src="js/src/bootstrap.js"></script>
</body>

</html>