<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="home :: headMgmt">
</head>

<body>

	<section th:replace="home :: navBar">
	</section>
	<form class="center flex-column" action="/student/save" method="post" th:object="${student}">
		<div class="center flex-row">
			<div class="mt-4 form-outline mb-4 me-3 center flex-column">
				<input maxlength="255" type="text" id="matricula" name="matricula" class="form-control" required />
				<label class="form-label" for="matricula" name="matricula">Matricula</label>
			</div>
			<div class="mt-4 form-outline mb-4 me-3 ms-3 center flex-column">
				<input type="number" id="anoIngresso" min="2020" value="2020" name="anoIngresso" class="form-control"
					required />
				<label class="form-label" for="anoIngresso" name="anoIngresso">Ano de ingressão</label>
			</div>

			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<select class="form-select w-100" name="courseId" id="courseId" required>
					<option th:each="course : ${courses}" th:value="${course.codigo}" th:text="${course.nome}">
					</option>
				</select>
				<label class="form-label" for="courses" name="courses">Curso</label>
			</div>

			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<select class="form-select w-100" name="situacaoMatricula" id="situacaoMatricula" required>
					<option th:each="MatriculationSituation : ${T(com.search.project.model.MatriculationSituation).values()}"
						th:value="${MatriculationSituation}" th:text="${MatriculationSituation.nomeExibicao}">
					</option>
				</select>
				<label class="form-label" for="courses" name="courses">Situação da matrícula</label>
			</div>


			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<input type="number" min="0" max="10" step="0.1" id="coeficienteRendimento" name="coeficienteRendimento"
					class="form-control" required />
				<label class="form-label" for="coeficienteRendimento" name="coeficienteRendimento">Coeficiente de
					rendimento</label>
			</div>
		</div>
		<div class="center flex-row">
			<div class="mt-4 form-outline mb-4 me-3 center flex-column">
				<input maxlength="255" type="text" id="nome" name="nome" class="form-control" required />
				<label class="form-label" for="nome" name="nome">Nome completo</label>
			</div>
			<div class="mt-4 form-outline mb-4 me-3 ms-3 center flex-column">
				<input maxlength="255" type="text" id="linkedin" name="linkedin" class="form-control" required />
				<label class="form-label" for="linkedin" name="linkedin">LinkedIn</label>
			</div>
			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<input maxlength="255" type="email" id="email" name="email" class="form-control" required />
				<label class="form-label" for="email" name="email">E-mail</label>
			</div>
		</div>

		<div class="mt-4 form-outline mb-4 center flex-column">
			<input type="date" id="dataNascimento" name="dataNascimento" class="form-control" required />
			<label class="form-label" for="dataNascimento" name="dataNascimento">Data de nascimento</label>
		</div>
		<div class="center flex-row">

		</div>
		<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	</form>
</body>

</html>