<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="home :: headMgmt">
</head>

<body>
	<script type="text/javascript" src="../js/src/jquery.js"></script>
	<script type="text/javascript" src="../js/src/main.js"></script>

	<section th:replace="home :: navBar">
	</section>
	<form class="center flex-column" action="/student/save" method="post" th:object="${teacher}">
		<div class="center flex-row">
			<div class="mt-4 form-outline mb-4 me-3 center flex-column">
				<input type="text" id="matricula" name="matricula" class="form-control" required />
				<label class="form-label" for="matricula" name="matricula">Matricula</label>
			</div>
			<div class="mt-4 form-outline mb-4 me-3 ms-3 center flex-column">
				<input type="number" id="anoIngresso" min="1900" max="2010" value="1900" name="anoIngresso" class="form-control" required />
				<label class="form-label" for="anoIngresso" name="anoIngresso">Ano de ingressão</label>
			</div>
			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<input type="number" min="0" max="10" step="0.1" id="coeficienteRendimento" name="coeficienteRendimento"
					class="form-control" required />
				<label class="form-label" for="coeficienteRendimento" name="coeficienteRendimento">Coeficiente de rendimento</label>
			</div>
		</div>
		<div class="center flex-row">
			<div class="mt-4 form-outline mb-4 me-3 center flex-column">
				<input type="text" id="nome" name="nome" class="form-control" required />
				<label class="form-label" for="nome" name="nome">Nome completo</label>
			</div>
			<div class="mt-4 form-outline mb-4 me-3 ms-3 center flex-column">
				<input type="text" id="linkedIn" name="linkedIn" class="form-control" required />
				<label class="form-label" for="linkedIn" name="linkedIn">LinkedIn</label>
			</div>
			<div class="mt-4 form-outline mb-4 ms-3 center flex-column">
				<input type="email" id="email" name="email" class="form-control" required />
				<label class="form-label" for="email" name="email">E-mail</label>
			</div>
		</div>

		<div class="mt-4 form-outline mb-4 center flex-column">
			<input type="date" id="dataNascimento" name="dataNascimento" class="form-control" required />
			<label class="form-label" for="dataNascimento" name="dataNascimento">Data de nascimento</label>
		</div>
		<div class="center flex-row">
			
		</div>
		<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
	</form>
</body>

</html>